services:
  - type: web
    name: book-store-velvet
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false